<!DOCTYPE html>
<html lang="en">

<head>
  <!--TEST OF DYNAMIC HTML NOT SURE WHY THE SCRIPT LOCATION IN THE DEMO IS UP HERE - SEE URL BELOW-->
  <script language="JavaScript">
    function doChanges(e) {
      e.style.color = "green";
      e.style.fontSize = "20px";
    }    
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {{ title }}</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

</head>

<body>
  <div class="wrapper">

    <header>
      <h1>
        <a href="/">blah blah blog</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>

    <main>
      {{{ body }}}
    </main>

    <footer>
      Welcome to your virtual journal!

    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
  <script src="/javascript/login.js"></script>
  <script src="/javascript/add-post.js"></script>
  <script src="/javascript/logout.js"></script>
  <script src="/javascript/delete-post.js"></script>
  <script src="/javascript/edit-post.js"></script>

  <!--TEST BELOW AND ABOVE OF DYNAMIC HTML FROM https://www.c-sharpcorner.com/article/dynamic-html-using-handlebars-javascript/-->
  <h3 onmouseover="doChanges(this)" style="color:black;font-size:18px">Welcome to Dynamic HTML!</h3>
</body>


</html>