<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="../">
                    Blah-Blah-Blog
                </a>
                <span class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item is-active">
                        <a href="/">Home</a>
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Dashboard
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                <a href="/logout">Logout</a>
                            </a>
                            <hr class="navbar-divider">
                            <div class="navbar-item">
                                <a href="/login">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <form class="new-post-form">
        <div>
            <label for="blog_title">Your blah blah</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-url">Link</label>
            <input id="post-url" name="post-url" />
        </div>
        <button type="submit" class="btn">Create</button>
    </form>

    <script src="/javascript/add-post.js"></script>
    <script src="/javascript/logout.js"></script>
    <script src="/javascript/delete-post.js"></script>
    <script src="/javascript/edit-post.js"></script>
</body>

</html>