:root {
  --primary-color: #f19419;
  --secondary-color: rgb(219, 194, 104);
  --tertiary-color: rgba(158, 240, 240, 0.337);
  --quaternary-color: rgb(55, 55, 55);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  background: var(--tertiary-color);
  border-radius: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 35px;
  border-radius: 50px;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  /* Added sticky positions and background styles from .hero to header for 2.4.0 version */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /*redirect filename to match*/
  background-image: url("../images/blah-blah-blog.png");
  background-size: cover;
  /*Change b-p from center to 80% for final */
  background-position: 80%;
  /*Add b-attachment fixed to match image with LENS section */
  background-attachment: fixed;
  /*Add a high z-index to make sure new elements do not float in front of this header's sticky position */
  z-index: 9999;
  border-radius: 50px;
}

div {
  background: var(--tertiary-color);
}

div h2 {
  font-size: 1.11rem;
  font-weight: bold;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  margin: 0;
  display: inline;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav {
  margin: 7px 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav div a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  /*adding text shadow 2.4.0*/
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(219, 194, 104, 0.75);
  width: 100%;
  padding: 40px 35px;
  border-radius: 50px;
}

.articles {
  margin: 5rem 0;
  margin-top: -200px;
}

.articles .content p {
  line-height: 1.9;
  margin: 15px 0;
}

.author-image {
  position: absolute;
  top: -30px;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -30px;
  border: 3px solid var(--secondary-color);
  border-radius: 50%;
}

.media-center {
  display: block;
  margin-bottom: 1rem;
}

.media-content {
  margin-top: 3rem;
}

.article,
.promo-block {
  margin-top: 6rem;
}

div.column.is-8:first-child {
  padding-top: 0;
  margin-top: 0;
}

.article-title {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 2;
}

.article-subtitle {
  color: var(--quaternary-color);
  margin-bottom: 3rem;
}

.article-body {
  line-height: 1.4;
  margin: 0 6rem;
}

.promo-block .container {
  margin: 1rem 5rem;
}

div a:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 15px;
  text-shadow: none;
}

main {
  border-radius: 50px;
}

section {
  border-radius: 50px;
}

.wrapper {
  border-radius: 50px;
}

.article-body:hover {
  background: var(--secondary-color);
  color: var(--quaternary-color);
  border-radius: 15px;
  text-shadow: none;
}

.form-input {
  border-radius: 30px;
}

button {
  border-radius: 50px;
}

/* Button design from Federico Dossena https://fdossena.com/?p=html5cool/buttons/i.frag */

button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}

a.button3:hover {
  background-color: #4095c6;
}

@media all and (max-width: 30em) {
  a.button3 {
    display: block;
    margin: 0.2em auto;
  }
}
